body {
    display: flex;
    flex-direction: column;
    gap: 2vmax;
}

.header,
.footer,
.main {
    display: flex;
    gap: 2vmax;
}

.header,
.footer {
    height: 25%;
}

.left,
.right {
    width: 25%;
}

.content,
.main {
    flex-grow: 1;
}
